@font-face {
  font-family: "Black";
  src: url("Itoya-Black.ttf");
}

@font-face {
  font-family: "BlackItalic";
  src: url("Itoya-BlackItalic.ttf");
}

@font-face {
  font-family: "Bold";
  src: url("Itoya-Bold.ttf");
}

@font-face {
  font-family: "BoldItalic";
  src: url("Itoya-BoldItalic.ttf");
}

@font-face {
  font-family: "Italic";
  src: url("Itoya-Italic.ttf");
}

@font-face {
  font-family: "Light";
  src: url("Itoya-Light.ttf");
}

@font-face {
  font-family: "LightItalic";
  src: url("Itoya-LightItalic.ttf");
}

@font-face {
  font-family: "Regular";
  src: url("Itoya-Regular.ttf");
}

@font-face {
  font-family: "UltraLight";
  src: url("Itoya-UltraLight.ttf");
}

@font-face {
  font-family: "UltraLightItalic";
  src: url("Itoya-UltraLightItalic.ttf");
}

body {
  font-family: "Regular";
}

/*Background pattern*/
.main-section {
  background-color: #add9ff;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%230e043a' fill-opacity='0.16'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/*Navbar*/

.bg-dark {
  background-color: #0B032D!important;
  box-shadow: 0px 1px 15px -1px rgba(14,4,58,0.9);
}

/*INDEX*/
.display-4 {
  font-family: "Bold";
}

#dat-logo {
  padding-bottom: 10px;
}

.header-index {
  font-family: "Light";
  color: white;
  background-color: rgba(11, 3, 45, 0.8);
  border-radius: 15px;
  padding: 20px 5px 5px 5px
}

.form-index-list {
  font-family: "Light";
  background-color: rgba(11, 3, 45, 0.8);
  ;
  border-radius: 15px;
}

.form-index-random {
  font-family: "Light";
  background-color: rgba(11, 3, 45, 0.8);
  ;
  border-radius: 15px;
}

.form-index-title {
  background-color: rgba(243, 182, 31, 1);
  width: fit-content;
  display: inline-block;
  border-radius: 25px;
  box-shadow: 0px 2px 15px 10px rgba(0, 0, 0, 0.4);
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 1rem;
  padding-bottom: 7px;
}

/*END OF INDEX*/

/*LIST RESULT*/
#moreInfo {
  background-color: rgba(11, 3, 45, 0.8);
  text-align: center;
  border-radius: 25px;
}

#listResult {
  justify-content: center;
}

#listResult>div {
  margin: 15px;
  width: 18rem;
}

.card-body>h5 {
  font-family: "Bold";
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.img-hover-zoom {
  overflow: hidden;
  transition: transform .5s ease;
}

.img-hover-zoom:hover {
  transform: scale(1.07);
  position: static;
}

/*END OF LIST RESULT*/

/*DETAILED RESULT*/


#detailedImage {
  border-radius: 5px;
  border: 4px solid #9d9fd1;
}

#coverContainer {
  display: flex;
  justify-content: center;
}

/*END OF DETAILED RESULT*/
/*FAQS*/

.popup-title {
  text-decoration: underline;
  font-family: "Black";
}

.forms {
  background-color: rgba(11, 3, 45, 0.8);
  border-radius: 15px;
  padding: 20px;
}

.faq {
  background-color: rgba(150, 150, 150, 0.2);
  display: flex;
  justify-content: space-between;
  border-radius: 25px;
}

#link {
  color: orange;
  text-decoration: underline;
}

.faq-headers {
  color: white;
}

.bold-itoya {
  font-family: "Bold";
}

#creator {
  font-family: "BoldItalic";
  text-decoration: underline;
}

#faq-title {
  font-family: "Bold";
  padding-bottom: 25px;
}

#animatedFaq {
  -webkit-animation-name: animatedFaq;
  animation-name: animatedFaq;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 3s;
}

@-webkit-keyframes animatedFaq {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes animatedFaq {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/*END OF FAQS*/

/*Centers the button of the login/register forms*/
.modal-footer {
  justify-content: center;
}